.Rproj.user
.Rhistory
.RData
.Ruserdata

.ipynb_checkpoints/Genetic Linear Regression with Python-checkpoint.ipynb

.Rproj.user/8B815D8E/pcs/windowlayoutstate.pper

.Rproj.user/8B815D8E/pcs/windowlayoutstate.pper

.Rproj.user/8B815D8E/pcs/workbench-pane.pper
.Rproj.user/8B815D8E/pcs/windowlayoutstate.pper
.Rproj.user/8B815D8E/pcs/workbench-pane.pper
